<ion-header>
  <ion-title>
    <img src="images/logo.png"/>
    <div class="custom-menu" (click)='showMenu()'>
      <img src="images/menu.png"/>
    </div>
    <img style="margin-right: 20px;" src="images/sync.png" (click)= "sync()"/>
  </ion-title>
  
  <ion-grid class="menu-box">
    <ion-row>
      <ion-col class="close" col-12><span (click)='hideMenu()'>&times;</span></ion-col>
      <ion-col *ngFor="let cat of categories;" col-4 class="cat-box">
        <div class="title">{{ cat.title }}</div>
        <div class="subCat-box">
          <div *ngFor="let subCat of subCategories;let i = index;" class="subCat-item">
            <div *ngIf="(i == 0 && subCat.categories_id == cat.id) || (subCat.categories_id == cat.id && subCat.title !== subCategories[i-1].title)"><a (click)='loadPage(i+1)'>- {{ subCat.title }}</a></div>
          </div>
        </div>
      </ion-col>
    </ion-row> 
  </ion-grid>
  
  <div class="serach-box">
    <ion-searchbar [(ngModel)]="terms" (ionInput)="onInput($event)"></ion-searchbar>
    <!-- <button ion-button type="button" (click)="sort()">Sort</button> -->
    <ion-list class="subCategories-list">
      <ion-item *ngFor="let c of subCats | search : terms | sort: {property: column, order: order}; let i = index;">
        <h2><a (click)='getPageNo(c.title)'>{{c.title}}</a></h2>
      </ion-item>
    </ion-list>
  </div>
</ion-header>

<ion-content (click)='hideFilterList()'>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div id="flipbook1">
          <div class="cover"><img src="images/logo.png"/></div>
          <!-- <div *ngFor="let item of subCategories;let i = index;"><img src="{{appUrl}}/uploads/{{item.image_url}}"></div> -->
          <div *ngFor="let item of subCategories;let i = index;"><img src="{{this.file.externalApplicationStorageDirectory + item.image_url}}"></div>
          <div class="cover"> <img src="images/logo.png"/></div>
        </div>
      </ion-col>
    </ion-row> 
  </ion-grid>
</ion-content>