page-home {
  .cover{
    display: flex;
    align-items: center;
  }
  .cover img{
    margin: 0 auto;
  }
  .item-md.item-block .item-inner{
    margin-right: 8px;
    padding: 0;
  }
  .subCategories-list{
    display: none;
    position: absolute;
    width: 100%;
    z-index: 100;
    top: 43px;
  }
  .searchbar-md .searchbar-search-icon {
    left: 11px;
    top: 6px;
  }
  .serach-box{
    position: absolute;
    top: 0;
    right: 60px;
    z-index: 15;
  }
  .searchbar-md .searchbar-input {
    padding: 6px 40px;
    font-size: 14px;
    line-height: 20px;
  }
  .toolbar-title-md {
    font-size: 0;
  }
  .header .title img{
    width: 50px;
  }
  .header .title .custom-menu{
    width: 40px;
    float: right;
    margin: 5px 10px;
  }
  .cover {
    overflow:hidden;
    background-color: lightgray;
    border: solid 1px black;
  }
  .page {
    overflow:hidden;
    background-color: white;
    border: solid 1px gray;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    line-height: 100px;
  }
  .menu-box{
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
    top: 0;
    bottom: 0;
    height: 100vh;
    overflow-y: hidden;
    z-index: 16;
  }
  .menu-box .title{
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 2px dashed #f37021;
    padding-bottom: 15px;
    margin-bottom: 15px;
  } 
  .menu-box .cat-box{
    padding: 7px 25px;
  }
  .menu-box .subCat-item a{
    display: block;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
    padding-bottom: 5px;
  }
  .menu-box .close span{
    float: right;
    font-size: 33px;
    color: #fff;
    margin-right: 15px;
  }
}
