<!--
  Generated template for the Page1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
	<ion-grid>
    <ion-row>
      <ion-col>
        <div class="page"> <img src="images/clotrin.jpg" /> </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
